html {
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    padding: 24px;

    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 24px;
}

body {
    margin: 0;
    padding: 24px;
}

main {
    max-width: 800px;
    margin: auto;
}

footer{
    background-color: burlywood;
    padding: 24px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    align-items: center;
}

.main-page-book-review{
    background-color: white;
    border: 1px solid lightblue;
    padding: 24px;

    display: grid;
    grid-template-columns: auto;
}
.book-cover {
    width: 200px;
    height: auto;
}
.book-rating {
    font-size: 125%;
}
.book-authors {
    color: dimgray;
}